@tailwind base;
@tailwind components;
@tailwind utilities;

/* router class */
.nuxt-link-exact-active {
  @apply text-primary;
}

/* 移除 input number 箭頭 */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}